#include "rockchip_rk3506_luckfox_defconfig"
# BR2_PACKAGE_FFMPEG is not set
# BR2_PACKAGE_FREETYPE is not set
# BR2_PACKAGE_RKADK is not set
# BR2_PACKAGE_ROCKCHIP_RGA is not set
# BR2_PACKAGE_ROCKCHIP_TEST is not set
BR2_PACKAGE_PX4_POWERFIN=y
BR2_TARGET_GENERIC_ISSUE="Welcome to PowerFin [root:powerfin]"
BR2_TARGET_GENERIC_ROOT_PASSWD="powerfin"
BR2_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="-c board/rockchip/powerfin/genimage.cfg"
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_PACKAGE_PENGUIN_FLIGHT_CONSOLE=y
BR2_PACKAGE_UBOOT_TOOLS=y
BR2_PACKAGE_UBOOT_TOOLS_FIT_SUPPORT=y
BR2_PACKAGE_UBOOT_TOOLS_DUMPIMAGE=y
